In [1]:
import pandas as pd
import numpy as np
from pandas import Timestamp

In [2]:
games = pd.read_csv(
        '/Users/mattbubb/Spring_2021/DS_340W/Sports-Betting-340W/Data/nba_games_all.csv')
# Sort immediately 
games = games.sort_values('game_date').dropna().reset_index().drop('index', axis = 1)
games

,game_id,game_date,matchup,team_id,is_home,wl,w,l,w_pct,min,...,ast,stl,blk,tov,pf,pts,a_team_id,season_year,season_type,season
0,29600021,1996-11-02,DAL vs. SAC,1610612758,f,W,1.0,1.0,0.500,240,...,18.0,9.0,4.0,16.0,25.0,107,1610612742,1996,Regular Season,1996-97
1,29600021,1996-11-02,SAC @ DAL,1610612742,t,L,1.0,1.0,0.500,240,...,23.0,11.0,4.0,19.0,32.0,94,1610612758,1996,Regular Season,1996-97
2,29600070,1996-11-10,CLE vs. DEN,1610612743,f,L,2.0,4.0,0.333,216,...,26.0,5.0,4.0,22.0,23.0,79,1610612739,1996,Regular Season,1996-97
3,29600070,1996-11-10,DEN @ CLE,1610612739,t,W,4.0,1.0,0.800,240,...,28.0,9.0,7.0,16.0,23.0,108,1610612743,1996,Regular Season,1996-97
4,39700001,1998-02-08,EST vs. WST,1610616834,f,L,0.0,1.0,0.000,240,...,34.0,13.0,3.0,18.0,9.0,114,1610616833,1997,All Star,1997-98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37733,41700402,2018-06-03,GSW vs. CLE,1610612739,f,L,0.0,2.0,0.000,240,...,25.0,9.0,4.0,10.0,15.0,103,1610612744,2017,Playoffs,2017-18
37734,41700403,2018-06-06,CLE vs. GSW,1610612744,f,W,3.0,0.0,1.000,240,...,27.0,6.0,5.0,10.0,20.0,110,1610612739,2017,Playoffs,2017-18
37735,41700403,2018-06-06,GSW @ CLE,1610612739,t,L,0.0,3.0,0.000,240,...,20.0,6.0,4.0,13.0,18.0,102,1610612744,2017,Playoffs,2017-18
37736,41700404,2018-06-08,GSW @ CLE,1610612739,t,L,0.0,4.0,0.000,240,...,21.0,5.0,5.0,11.0,22.0,85,1610612744,2017,Playoffs,2017-18
37737,41700404,2018-06-08,CLE vs. GSW,1610612744,f,W,4.0,0.0,1.000,240,...,25.0,7.0,13.0,8.0,24.0,108,1610612739,2017,Playoffs,2017-18

In [3]:
# Grab date
games[['Year', 'Month', 'Day']] = games['game_date'].str.split('-', 2, expand = True)
games

,game_id,game_date,matchup,team_id,is_home,wl,w,l,w_pct,min,...,tov,pf,pts,a_team_id,season_year,season_type,season,Year,Month,Day
0,29600021,1996-11-02,DAL vs. SAC,1610612758,f,W,1.0,1.0,0.500,240,...,16.0,25.0,107,1610612742,1996,Regular Season,1996-97,1996,11,02
1,29600021,1996-11-02,SAC @ DAL,1610612742,t,L,1.0,1.0,0.500,240,...,19.0,32.0,94,1610612758,1996,Regular Season,1996-97,1996,11,02
2,29600070,1996-11-10,CLE vs. DEN,1610612743,f,L,2.0,4.0,0.333,216,...,22.0,23.0,79,1610612739,1996,Regular Season,1996-97,1996,11,10
3,29600070,1996-11-10,DEN @ CLE,1610612739,t,W,4.0,1.0,0.800,240,...,16.0,23.0,108,1610612743,1996,Regular Season,1996-97,1996,11,10
4,39700001,1998-02-08,EST vs. WST,1610616834,f,L,0.0,1.0,0.000,240,...,18.0,9.0,114,1610616833,1997,All Star,1997-98,1998,02,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37733,41700402,2018-06-03,GSW vs. CLE,1610612739,f,L,0.0,2.0,0.000,240,...,10.0,15.0,103,1610612744,2017,Playoffs,2017-18,2018,06,03
37734,41700403,2018-06-06,CLE vs. GSW,1610612744,f,W,3.0,0.0,1.000,240,...,10.0,20.0,110,1610612739,2017,Playoffs,2017-18,2018,06,06
37735,41700403,2018-06-06,GSW @ CLE,1610612739,t,L,0.0,3.0,0.000,240,...,13.0,18.0,102,1610612744,2017,Playoffs,2017-18,2018,06,06
37736,41700404,2018-06-08,GSW @ CLE,1610612739,t,L,0.0,4.0,0.000,240,...,11.0,22.0,85,1610612744,2017,Playoffs,2017-18,2018,06,08
37737,41700404,2018-06-08,CLE vs. GSW,1610612744,f,W,4.0,0.0,1.000,240,...,8.0,24.0,108,1610612739,2017,Playoffs,2017-18,2018,06,08

In [4]:
teams = pd.read_csv(
        '/Users/mattbubb/Spring_2021/DS_340W/Sports-Betting-340W/Data/nba_teams_all.csv')
teams = teams.dropna().drop(['league_id','min_year', 'max_year'],axis =1)

In [5]:
# Merge with Team data to get abbreviations of teams
games = games.merge(teams, on = 'team_id')
games

,game_id,game_date,matchup,team_id,is_home,wl,w,l,w_pct,min,...,pf,pts,a_team_id,season_year,season_type,season,Year,Month,Day,abbreviation
0,29600021,1996-11-02,DAL vs. SAC,1610612758,f,W,1.0,1.0,0.500,240,...,25.0,107,1610612742,1996,Regular Season,1996-97,1996,11,02,SAC
1,40000007,2001-04-22,PHX @ SAC,1610612758,t,L,0.0,1.0,0.000,240,...,16.0,83,1610612756,2000,Playoffs,2000-01,2001,04,22,SAC
2,40000014,2001-04-25,PHX @ SAC,1610612758,t,W,1.0,1.0,0.500,240,...,20.0,116,1610612756,2000,Playoffs,2000-01,2001,04,25,SAC
3,40000023,2001-04-29,PHX vs. SAC,1610612758,f,W,2.0,1.0,0.667,240,...,26.0,104,1610612756,2000,Playoffs,2000-01,2001,04,29,SAC
4,40000030,2001-05-02,PHX vs. SAC,1610612758,f,W,3.0,1.0,0.750,240,...,23.0,89,1610612756,2000,Playoffs,2000-01,2001,05,02,SAC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37699,21701168,2018-04-03,SAS @ LAC,1610612746,t,W,42.0,36.0,0.538,240,...,23.0,113,1610612759,2017,Regular Season,2017-18,2018,04,03,LAC
37700,21701179,2018-04-05,UTA vs. LAC,1610612746,f,L,42.0,37.0,0.532,240,...,25.0,95,1610612762,2017,Regular Season,2017-18,2018,04,05,LAC
37701,21701191,2018-04-07,DEN @ LAC,1610612746,t,L,42.0,38.0,0.525,240,...,19.0,115,1610612743,2017,Regular Season,2017-18,2018,04,07,LAC
37702,21701212,2018-04-09,NOP @ LAC,1610612746,t,L,42.0,39.0,0.519,240,...,18.0,100,1610612740,2017,Regular Season,2017-18,2018,04,09,LAC
37703,21701228,2018-04-11,LAL @ LAC,1610612746,t,L,42.0,40.0,0.512,240,...,17.0,100,1610612747,2017,Regular Season,2017-18,2018,04,11,LAC

In [6]:
# Group by Teams, Seasons, and Month/date to get a cumulative sum of stats to be divided by number of games later
#needsDivision = games.groupby(['abbreviation', 'season', 'Month','Day']).sum().groupby(['abbreviation','season']).cumsum().reset_index()
#needsDivision

needsDivision = games.groupby(['abbreviation', 'season', 'game_date']).sum().groupby(['abbreviation','season']).cumsum().reset_index()
needsDivision

,abbreviation,season,game_date,game_id,team_id,w,l,w_pct,min,fgm,...,dreb,reb,ast,stl,blk,tov,pf,pts,a_team_id,season_year
0,ATL,2003-04,2003-11-01,20300029,1610612737,0.0,3.0,0.000,265,36.0,...,32.0,36,23.0,5.0,9.0,16.0,27.0,99,1610612754,2003
1,ATL,2003-04,2003-11-03,40600071,3221225474,1.0,6.0,0.250,505,71.0,...,64.0,86,43.0,11.0,16.0,31.0,49.0,189,3221225494,4006
2,ATL,2003-04,2003-11-05,60900131,4831838211,2.0,10.0,0.450,745,100.0,...,94.0,129,62.0,19.0,20.0,50.0,74.0,261,4831838238,6009
3,ATL,2003-04,2003-11-08,81200215,6442450948,3.0,15.0,0.617,985,135.0,...,127.0,174,83.0,25.0,27.0,64.0,85.0,344,6442450995,8012
4,ATL,2003-04,2003-11-09,101500304,8053063685,5.0,20.0,0.903,1225,169.0,...,159.0,215,99.0,37.0,34.0,85.0,102.0,435,8053063755,10015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37699,WAS,2017-18,2018-04-17,1732650281,125627795592,1890.0,1495.0,42.461,18870,3117.0,...,2575.0,3343,1972.0,603.0,325.0,1091.0,1671.0,8297,125627794592,157326
37700,WAS,2017-18,2018-04-20,1774350384,127238408356,1891.0,1497.0,42.794,19110,3164.0,...,2607.0,3382,2001.0,613.0,333.0,1102.0,1692.0,8419,127238407353,159343
37701,WAS,2017-18,2018-04-22,1816050488,128849021120,1893.0,1499.0,43.294,19350,3203.0,...,2638.0,3422,2024.0,623.0,341.0,1115.0,1715.0,8525,128849020114,161360
37702,WAS,2017-18,2018-04-25,1857750593,130459633884,1895.0,1502.0,43.694,19590,3240.0,...,2674.0,3472,2045.0,629.0,345.0,1130.0,1733.0,8623,130459632875,163377
37703,WAS,2017-18,2018-04-27,1899450699,132070246648,1897.0,1506.0,44.027,19830,3272.0,...,2705.0,3514,2057.0,632.0,350.0,1144.0,1752.0,8715,132070245636,165394

In [7]:
# Loop through rows to add a column which adds 1 for each game date to divide the cumulative stats by # of games
test = games.groupby(['abbreviation', 'season','game_date']).size().reset_index(name='numGamesPerSeason')
test = test.sort_values(['abbreviation','season'])
test['game_date'] = pd.to_datetime(test['game_date'])
first = ('ATL', '2003-04')
firstGame = Timestamp('2003-11-01 00:00:00')
test['gameNo'] = 0
lst = []
count = 1
for group_name, df_group in test.groupby(['abbreviation', 'season']):
    for index, row in df_group.iterrows():
        # If not first in group
        if group_name != first:
            firstGame = row['game_date']
            count = 1
            lst.append(count)
            count += 1
            first = group_name
        else:
            lst.append(count)
            count += 1

test['gameNo'] = lst

In [8]:
# Game number per team
test.drop(['season', 'numGamesPerSeason'], axis = 1, inplace=True)
test.head(83)

   abbreviation  game_date  gameNo
0           ATL 2003-11-01       1
1           ATL 2003-11-03       2
2           ATL 2003-11-05       3
3           ATL 2003-11-08       4
4           ATL 2003-11-09       5
..          ...        ...     ...
78          ATL 2004-04-12      79
79          ATL 2004-04-14      80
80          ATL 2004-11-03       1
81          ATL 2004-11-05       2
82          ATL 2004-11-07       3

[83 rows x 3 columns]

In [9]:
# Sort Values
games = games.sort_values(['abbreviation', 'game_date'])
games.reset_index().drop('index', axis = 1, inplace = True)
games

,game_id,game_date,matchup,team_id,is_home,wl,w,l,w_pct,min,...,pf,pts,a_team_id,season_year,season_type,season,Year,Month,Day,abbreviation
33963,20300029,2003-11-01,IND @ ATL,1610612737,t,L,0.0,3.0,0.000,265,...,27.0,99,1610612754,2003,Regular Season,2003-04,2003,11,01,ATL
33964,20300042,2003-11-03,NOH @ ATL,1610612737,t,W,1.0,3.0,0.250,240,...,22.0,90,1610612740,2003,Regular Season,2003-04,2003,11,03,ATL
33965,20300060,2003-11-05,GSW vs. ATL,1610612737,f,L,1.0,4.0,0.200,240,...,25.0,72,1610612744,2003,Regular Season,2003-04,2003,11,05,ATL
33966,20300084,2003-11-08,POR vs. ATL,1610612737,f,L,1.0,5.0,0.167,240,...,11.0,83,1610612757,2003,Regular Season,2003-04,2003,11,08,ATL
33967,20300089,2003-11-09,SEA vs. ATL,1610612737,f,W,2.0,5.0,0.286,240,...,17.0,91,1610612760,2003,Regular Season,2003-04,2003,11,09,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31360,41700102,2018-04-17,TOR vs. WAS,1610612764,f,L,0.0,2.0,0.000,240,...,24.0,119,1610612761,2017,Playoffs,2017-18,2018,04,17,WAS
31361,41700103,2018-04-20,TOR @ WAS,1610612764,t,W,1.0,2.0,0.333,240,...,21.0,122,1610612761,2017,Playoffs,2017-18,2018,04,20,WAS
31362,41700104,2018-04-22,TOR @ WAS,1610612764,t,W,2.0,2.0,0.500,240,...,23.0,106,1610612761,2017,Playoffs,2017-18,2018,04,22,WAS
31363,41700105,2018-04-25,TOR vs. WAS,1610612764,f,L,2.0,3.0,0.400,240,...,18.0,98,1610612761,2017,Playoffs,2017-18,2018,04,25,WAS
31364,41700106,2018-04-27,TOR @ WAS,1610612764,t,L,2.0,4.0,0.333,240,...,19.0,92,1610612761,2017,Playoffs,2017-18,2018,04,27,WAS

In [10]:
# Merge number of games with Games Df
games['game_date'] = pd.to_datetime(games['game_date'])
newDf = games.merge(test, on = ['abbreviation', 'game_date'])
newDf

,game_id,game_date,matchup,team_id,is_home,wl,w,l,w_pct,min,...,pts,a_team_id,season_year,season_type,season,Year,Month,Day,abbreviation,gameNo
0,20300029,2003-11-01,IND @ ATL,1610612737,t,L,0.0,3.0,0.000,265,...,99,1610612754,2003,Regular Season,2003-04,2003,11,01,ATL,1
1,20300042,2003-11-03,NOH @ ATL,1610612737,t,W,1.0,3.0,0.250,240,...,90,1610612740,2003,Regular Season,2003-04,2003,11,03,ATL,2
2,20300060,2003-11-05,GSW vs. ATL,1610612737,f,L,1.0,4.0,0.200,240,...,72,1610612744,2003,Regular Season,2003-04,2003,11,05,ATL,3
3,20300084,2003-11-08,POR vs. ATL,1610612737,f,L,1.0,5.0,0.167,240,...,83,1610612757,2003,Regular Season,2003-04,2003,11,08,ATL,4
4,20300089,2003-11-09,SEA vs. ATL,1610612737,f,W,2.0,5.0,0.286,240,...,91,1610612760,2003,Regular Season,2003-04,2003,11,09,ATL,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37699,41700102,2018-04-17,TOR vs. WAS,1610612764,f,L,0.0,2.0,0.000,240,...,119,1610612761,2017,Playoffs,2017-18,2018,04,17,WAS,78
37700,41700103,2018-04-20,TOR @ WAS,1610612764,t,W,1.0,2.0,0.333,240,...,122,1610612761,2017,Playoffs,2017-18,2018,04,20,WAS,79
37701,41700104,2018-04-22,TOR @ WAS,1610612764,t,W,2.0,2.0,0.500,240,...,106,1610612761,2017,Playoffs,2017-18,2018,04,22,WAS,80
37702,41700105,2018-04-25,TOR vs. WAS,1610612764,f,L,2.0,3.0,0.400,240,...,98,1610612761,2017,Playoffs,2017-18,2018,04,25,WAS,81
37703,41700106,2018-04-27,TOR @ WAS,1610612764,t,L,2.0,4.0,0.333,240,...,92,1610612761,2017,Playoffs,2017-18,2018,04,27,WAS,82

In [11]:
# Pull out game number columns
gameNumber = newDf['gameNo']
gameNumber

0         1
1         2
2         3
3         4
4         5
         ..
37699    78
37700    79
37701    80
37702    81
37703    82
Name: gameNo, Length: 37704, dtype: int64

In [31]:
# Divide number of cumulative stats by number of games at any given time
# Add back in some important qualitative columns
needsDivision['gameNumber'] = gameNumber
upToDateStats = needsDivision[['w',
       'l', 'w_pct', 'min', 'fgm', 'fga', 'fg_pct', 'fg3m', 'fg3a', 'fg3_pct',
       'ftm', 'fta', 'ft_pct', 'oreb', 'dreb', 'reb', 'ast', 'stl', 'blk',
       'tov', 'pf', 'pts']].div(needsDivision.gameNumber, axis = 0).where(needsDivision.gameNumber != 0)
upToDateStats['abbreviation'] = newDf['abbreviation']
upToDateStats['season']=newDf['season']
upToDateStats['game_id'] = newDf['game_id']
upToDateStats['team_id'] = newDf['team_id']
upToDateStats['gameNo'] = needsDivision['gameNumber']
upToDateStats['game_date'] = needsDivision['game_date']
upToDateStats['is_home'] = newDf['is_home']

In [32]:
upToDateStats = upToDateStats
#upToDateStats.drop('index', axis = 1, inplace = True)
upToDateStats.head(83)

,w,l,w_pct,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,...,tov,pf,pts,abbreviation,season,game_id,team_id,gameNo,game_date,is_home
0,0.000000,3.000000,0.000000,265.000000,36.000000,77.000000,0.468000,6.000000,16.000000,0.375000,...,16.000000,27.000000,99.000000,ATL,2003-04,20300029,1610612737,1,2003-11-01,t
1,0.500000,3.000000,0.125000,252.500000,35.500000,79.500000,0.447500,5.500000,15.500000,0.354000,...,15.500000,24.500000,94.500000,ATL,2003-04,20300042,1610612737,2,2003-11-03,t
2,0.666667,3.333333,0.150000,248.333333,33.333333,79.333333,0.420667,5.000000,14.333333,0.347000,...,16.666667,24.666667,87.000000,ATL,2003-04,20300060,1610612737,3,2003-11-05,f
3,0.750000,3.750000,0.154250,246.250000,33.750000,79.500000,0.425000,4.250000,15.750000,0.285250,...,16.000000,21.250000,86.000000,ATL,2003-04,20300084,1610612737,4,2003-11-08,f
4,1.000000,4.000000,0.180600,245.000000,33.800000,77.800000,0.435800,5.000000,15.600000,0.334800,...,17.000000,20.400000,87.000000,ATL,2003-04,20300089,1610612737,5,2003-11-09,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,13.063291,28.936709,0.298456,242.531646,34.329114,79.303797,0.433456,5.025316,15.126582,0.316646,...,15.443038,22.164557,92.430380,ATL,2003-04,20301164,1610612737,79,2004-04-12,t
79,13.250000,29.250000,0.298988,242.500000,34.500000,79.450000,0.434625,5.112500,15.287500,0.318050,...,15.475000,22.212500,92.925000,ATL,2003-04,20301176,1610612737,80,2004-04-14,f
80,0.000000,1.000000,0.000000,240.000000,32.000000,96.000000,0.333000,5.000000,15.000000,0.333000,...,24.000000,24.000000,82.000000,ATL,2004-05,20400013,1610612737,1,2004-11-03,f
81,0.000000,1.500000,0.000000,240.000000,31.500000,85.000000,0.376000,5.000000,12.500000,0.416500,...,21.000000,25.000000,83.500000,ATL,2004-05,20400029,1610612737,2,2004-11-05,f
82,0.000000,2.000000,0.000000,240.000000,33.333333,85.333333,0.394000,4.666667,14.333333,0.351667,...,17.666667,24.666667,85.666667,ATL,2004-05,20400044,1610612737,3,2004-11-07,f

In [33]:
upToDateStats['ShiftedGameID'] = upToDateStats.groupby(['abbreviation', 'season'])['game_id'].shift(-1)

upToDateStats['ShiftedGameNumber'] = upToDateStats.groupby(['abbreviation', 'season'])['gameNo'].shift(-1)
upToDateStats = upToDateStats.dropna()

In [34]:
upToDateStats.loc[:,'ShiftedGameNumber'] = upToDateStats.ShiftedGameNumber.apply(int)
upToDateStats.loc[:,'ShiftedGameID'] = upToDateStats.ShiftedGameID.apply(int)
upToDateStats.head(83)

,w,l,w_pct,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,...,pts,abbreviation,season,game_id,team_id,gameNo,game_date,is_home,ShiftedGameID,ShiftedGameNumber
0,0.000000,3.000000,0.000000,265.000000,36.000000,77.000000,0.468000,6.000000,16.000000,0.375000,...,99.000000,ATL,2003-04,20300029,1610612737,1,2003-11-01,t,20300042,2
1,0.500000,3.000000,0.125000,252.500000,35.500000,79.500000,0.447500,5.500000,15.500000,0.354000,...,94.500000,ATL,2003-04,20300042,1610612737,2,2003-11-03,t,20300060,3
2,0.666667,3.333333,0.150000,248.333333,33.333333,79.333333,0.420667,5.000000,14.333333,0.347000,...,87.000000,ATL,2003-04,20300060,1610612737,3,2003-11-05,f,20300084,4
3,0.750000,3.750000,0.154250,246.250000,33.750000,79.500000,0.425000,4.250000,15.750000,0.285250,...,86.000000,ATL,2003-04,20300084,1610612737,4,2003-11-08,f,20300089,5
4,1.000000,4.000000,0.180600,245.000000,33.800000,77.800000,0.435800,5.000000,15.600000,0.334800,...,87.000000,ATL,2003-04,20300089,1610612737,5,2003-11-09,f,20300102,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,13.063291,28.936709,0.298456,242.531646,34.329114,79.303797,0.433456,5.025316,15.126582,0.316646,...,92.430380,ATL,2003-04,20301164,1610612737,79,2004-04-12,t,20301176,80
80,0.000000,1.000000,0.000000,240.000000,32.000000,96.000000,0.333000,5.000000,15.000000,0.333000,...,82.000000,ATL,2004-05,20400013,1610612737,1,2004-11-03,f,20400029,2
81,0.000000,1.500000,0.000000,240.000000,31.500000,85.000000,0.376000,5.000000,12.500000,0.416500,...,83.500000,ATL,2004-05,20400029,1610612737,2,2004-11-05,f,20400044,3
82,0.000000,2.000000,0.000000,240.000000,33.333333,85.333333,0.394000,4.666667,14.333333,0.351667,...,85.666667,ATL,2004-05,20400044,1610612737,3,2004-11-07,f,20400051,4
83,0.000000,2.500000,0.000000,240.000000,33.000000,82.250000,0.405000,3.750000,13.500000,0.286500,...,84.000000,ATL,2004-05,20400051,1610612737,4,2004-11-09,t,20400077,5

In [35]:
upToDateStats.drop(['game_id', 'gameNo'], axis = 1, inplace = True)

In [36]:
upToDateStats = upToDateStats [['abbreviation','team_id','is_home','season','game_date','ShiftedGameNumber','ShiftedGameID','w', 'l', 'w_pct', 'min', 'fgm', 'fga', 'fg_pct', 'fg3m', 'fg3a',
       'fg3_pct', 'ftm', 'fta', 'ft_pct', 'oreb', 'dreb', 'reb', 'ast', 'stl',
       'blk', 'tov', 'pf', 'pts' 
          ]]

In [37]:
upToDateStats

,abbreviation,team_id,is_home,season,game_date,ShiftedGameNumber,ShiftedGameID,w,l,w_pct,...,ft_pct,oreb,dreb,reb,ast,stl,blk,tov,pf,pts
0,ATL,1610612737,t,2003-04,2003-11-01,2,20300042,0.000000,3.000000,0.000000,...,1.000000,4.000000,32.000000,36.000000,23.000000,5.000000,9.000000,16.000000,27.000000,99.000000
1,ATL,1610612737,t,2003-04,2003-11-03,3,20300060,0.500000,3.000000,0.125000,...,1.000000,11.000000,32.000000,43.000000,21.500000,5.500000,8.000000,15.500000,24.500000,94.500000
2,ATL,1610612737,f,2003-04,2003-11-05,4,20300084,0.666667,3.333333,0.150000,...,0.666667,11.666667,31.333333,43.000000,20.666667,6.333333,6.666667,16.666667,24.666667,87.000000
3,ATL,1610612737,f,2003-04,2003-11-08,5,20300089,0.750000,3.750000,0.154250,...,0.750000,11.750000,31.750000,43.500000,20.750000,6.250000,6.750000,16.000000,21.250000,86.000000
4,ATL,1610612737,f,2003-04,2003-11-09,6,20300102,1.000000,4.000000,0.180600,...,0.800000,11.200000,31.800000,43.000000,19.800000,7.400000,6.800000,17.000000,20.400000,87.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37698,WAS,1610612764,f,2017-18,2018-04-14,78,41700102,24.545455,19.389610,0.551442,...,0.987013,9.922078,33.051948,42.974026,25.272727,7.740260,4.181818,14.064935,21.389610,106.207792
37699,WAS,1610612764,f,2017-18,2018-04-17,79,41700103,24.230769,19.166667,0.544372,...,0.987179,9.846154,33.012821,42.858974,25.282051,7.730769,4.166667,13.987179,21.423077,106.371795
37700,WAS,1610612764,t,2017-18,2018-04-20,80,41700104,23.936709,18.949367,0.541696,...,0.987342,9.810127,33.000000,42.810127,25.329114,7.759494,4.215190,13.949367,21.417722,106.569620
37701,WAS,1610612764,t,2017-18,2018-04-22,81,41700105,23.662500,18.737500,0.541175,...,0.987500,9.800000,32.975000,42.775000,25.300000,7.787500,4.262500,13.937500,21.437500,106.562500
37702,WAS,1610612764,f,2017-18,2018-04-25,82,41700106,23.395062,18.543210,0.539432,...,0.987654,9.851852,33.012346,42.864198,25.246914,7.765432,4.259259,13.950617,21.395062,106.456790

In [38]:
upToDateStats = upToDateStats.to_csv(
        '/Users/mattbubb/Spring_2021/DS_340W/Sports-Betting-340W/Data/upToDateStats.csv')